header,
main,
footer {
  min-width: 325px;
  /* margin: 1rem auto; */
}

header,
footer {
  background-color: #f7ede2;
}

header,
footer,
h1,
h2,
h3 {
  font-family: "Nunito", sans-serif;
}

h1,
h2 {
  text-align: center;
}

body {
  background-color: #dad7cd;
}

/**************************************************HEADER******************************************/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  margin-top: 0px;
}

#websiteLogo {
  width: 200px;
  padding: 10px;
  margin-top: 10px;
}

/**************************************************NAVIGATION******************************************/
#ham {
  align-self: center;
  text-decoration: none;
  font-size: 25px;
  color: black;
  transition: 0.3s;
  padding: 10px;
  font-size: 35px;
}
#ham:hover {
  color: #f5cac3;
  transition-duration: 0.2s;
}

nav a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 10px;
  margin-right: 30px;
  text-align: center;
  transition: 0.3s;
}
nav a:hover {
  border-radius: 10px;
  background-color: #f5cac3;
  transition-duration: 0.3s;
  padding: 12px;
}

.navigation {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.navigation li {
  display: none;
}

.responsive li {
  display: block;
  transition: 0.3s;
}

/**************************************************Tablet View******************************************/
@media screen and (min-width: 760px) {
  /*******************************************HEADER**********************************/
  header {
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
  }
  .navigation {
    flex-direction: row;
    padding: 10px;
  }
  .navigation li {
    display: block;
  }
  #ham {
    display: none;
    grid-row: 2/3;
  }
  .linkedin {
    width: 25px;
    margin-top: 10px;
    grid-column: 3/4;
    margin-left: 200px;
  }
}
/**************************************************LapTop View******************************************/
@media screen and (min-width: 1160px) {
  /*******************************************HEADER**********************************/
  .linkedin {
    margin-left: 300px;
  }
}
/***************************************HOME PAGE*********************************************/
main {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

p {
  line-height: 30px;
  padding: 5px;
}

/**************Welcome Section***************/
#introSection {
  background-color: #f95855;
}

#welcomeSection {
  color: black;
}

#introBox {
  margin: 1rem auto;
  margin-top: 0;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  background-color: #f95855;
  padding: 20px;
}

#profilePhoto {
  width: 275px;
  justify-self: center;
  margin-top: 15px;
}

#welcomeBtnBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  justify-items: center;
}

.welcomeBtns {
  text-decoration: none;
  text-align: center;
  border: 2px solid black;
  color: black;
  font-size: 18px;
  border-radius: 15px;
  padding: 20px;
  background-color: #f7ede2;
  color: black;
  width: 60%;
  height: 30%;
  transition: 0.3s;
}

.welcomeBtns:hover {
  background-color: #84a59d;
  color: black;
}

/***************Card Section**************/
#cardLayout {
  margin: 1rem auto;
  max-width: 1400px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.cardSection {
  border: 1px solid black;
  color: black;
  background-color: #84a59d;
  font-size: 18px;
}

.cardSection:hover {
  box-shadow: 0 0 8px rgb(89, 89, 89);
  opacity: 1;
}

.cardBtn {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.cardBtn:hover {
  color: #f7ede2;
  transition-duration: 0.3s;
}

#projectPhoto,
#skillPhoto,
#contactPhoto {
  /* grid-row:1/2; */
  width: 95%;
  margin: 10px;
}

#projectSummary,
#contactSummary,
#skillsSummary {
  /* grid-row:2/3; */
  padding: 15px;
}

/**************************************************Tablet View******************************************/
@media screen and (min-width: 760px) {
  #welcomeSection {
    grid-row: 1/2;
  }
  .welcomeBtns {
    width: 40%;
    font-size: 20px;
  }
  #profilePhoto {
    width: 325px;
    grid-row: 3/4;
    padding: 20px;
  }
  #cardLayout {
    grid-template-columns: 1fr 1fr;
  }
}
/**************************************************LapTop View******************************************/
@media screen and (min-width: 1160px) {
  /*******************************************HOME**********************************/
  #introBox {
    grid-template-columns: 1fr 1fr;
    position: relative;
  }
  .welcomeBtns {
    width: 40%;
    height: 15%;
  }
  #profilePhoto {
    width: 325px;
    grid-column: 2/3;
    grid-row: 1/3;
  }
  #cardLayout {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}
/************************************************************ABOUT PAGE***********************************************************/
.pageBanner {
  background-color: #f95855;
  text-align: center;
  color: black;
  padding: 50px;
}

#selfSummarySection {
  background-color: #84a59d;
}

#aboutBox {
  margin: 1rem auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  background-color: #84a59d;
  padding: 20px;
}

#aboutPhoto {
  width: 300px;
  padding: 10px;
  justify-self: center;
  align-self: center;
}

#skillsBox {
  margin: 1rem auto;
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding: 20px;
}

#contactBanner {
  background-color: #84a59d;
}

#contactBox {
  background-color: #84a59d;
  /* color:white; */
  margin: 1rem auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  padding: 20px;
}

#contactSection {
  padding: 10px;
  background-color: #84a59d;
}

#aboutContactBtn,
#seeResumeBtn {
  text-decoration: none;
  text-align: center;
  justify-self: center;
  align-self: center;
  border: 2px solid black;
  color: black;
  font-size: 18px;
  border-radius: 15px;
  padding: 20px;
  background-color: #f7ede2;
  color: black;
  width: 40%;
  height: 30%;
  transition: 0.3s;
}

#aboutContactBtn:hover {
  background-color: #f95855;
  color: black;
}

#seeResumeBtn {
  background-color: #84a59d;
}

#seeResumeBtn:hover {
  background-color: #f5cac3;
}

#progressSection {
  padding: 30px;
}

h4 {
  margin-bottom: 5px;
}

/**************************************************Tablet View******************************************/
@media screen and (min-width: 760px) {
  /*******************************************ABOUT PAGE**********************************/
  #aboutPhoto {
    width: 400px;
  }
  #contactBox {
    grid-template-columns: 1fr 1fr;
  }
  #aboutContactBtn {
    width: 30%;
    height: 15%;
  }
}
/**************************************************LapTop View******************************************/
@media screen and (min-width: 1160px) {
  /*******************************************ABOUT PAGE**********************************/
  #aboutBox {
    grid-template-columns: 1fr 1fr;
    position: relative;
  }
  #aboutPhoto {
    width: 500px;
    grid-column: 2/3;
    grid-row: 1/2;
    position: absolute;
    top: 150px;
    right: 20px;
  }
  #aboutSection {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #skillsBox {
    grid-template-columns: 1fr 1fr;
    margin-top: 200px;
    margin-bottom: 200px;
  }
  #skillsSection {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #progressSection {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #contactSection {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
/************************************************************CONTACT PAGE***********************************************************/
#contactArea {
  background-color: #84a59d;
}

#contactGrid {
  margin: 1rem auto;
  max-width: 1400px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding: 20px;
}

#contactInfo ul li {
  margin: 10px 0;
}

/**************************************************Tablet View******************************************/
@media screen and (min-width: 760px) {
  /*******************************************COMTACT PAGE**********************************/
  #submit {
    margin-left: 130px;
  }
}
/**************************************************LapTop View******************************************/
@media screen and (min-width: 1160px) {
  /*******************************************CONTACT PAGE**********************************/
  #contactGrid {
    grid-template-columns: 1fr 1fr;
  }
  #submit {
    margin-left: 175px;
  }
}
/************************************************************PROJECT PAGE***********************************************************/
#projectSelectionBox {
  text-align: center;
  margin-bottom: 50px;
}

select {
  padding: 10px;
  width: 40%;
  text-align: center;
}

#displayProjectBox {
  padding: 5px;
}

#projectPage {
  background-color: #B8B8B8;
  max-width: 1500px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 25px;
}

#projectOverview {
  background-color: #B8B8B8;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
  padding: 20px;
}

.projectContent {
  text-align: left;
}

#projectBoxOne, #projectBoxTwo, #GitHubBanner {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
}

#GitHubBanner {
  border-radius: 0px 0px 15px 15px;
  justify-items: center;
  padding: 20px;
}

.layoutStyleOne {
  background-color: #f95855;
}

.layoutStyleTwo {
  background-color: #84a59d;
}

#layoutOneContentOne, #layoutOneContentTwo {
  padding: 30px;
}

#projectOnePhotoOneImg, #projectOnePhotoTwoImg, #projectTwoPhotoOneImg, #projectTwoPhotoTwoImg {
  width: 400px;
  padding: 10px;
  justify-self: center;
}

#GitHubBtn {
  text-decoration: none;
  text-align: center;
  justify-self: center;
  align-self: center;
  border: 2px solid black;
  color: black;
  font-size: 18px;
  border-radius: 15px;
  padding: 20px;
  background-color: #B8B8B8;
  color: black;
  width: 30%;
  height: 30%;
  transition: 0.3s;
}

#GitHubBtn:hover {
  background-color: #E8Eff1;
  color: black;
}

/**************************************************Tablet View******************************************/
@media screen and (min-width: 760px) {
  /************************************************************PROJECT PAGE***********************************************************/
  select {
    width: 35%;
  }
}
/**************************************************LapTop View******************************************/
@media screen and (min-width: 1160px) {
  /************************************************************PROJECT PAGE***********************************************************/
  select {
    width: 30%;
  }
  #projectBoxOne, #projectBoxTwo, #GitHubBanner {
    grid-template-columns: 1fr 1fr;
  }
  #projectOnePhotoOneImg {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #projectOnePhotoTwoImg {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #layoutOneContentTwo {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #projectOnePhotoOneImg, #projectOnePhotoTwoImg, #projectTwoPhotoOneImg, #projectTwoPhotoTwoImg {
    width: 500px;
    padding: 10px;
    justify-self: center;
  }
  #projectTwoPhotoOneImg {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #layoutTwoContentOne {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #projectTwoPhotoTwoImg {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #layoutTwoContentTwo {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
/***************************************FOOTER*********************************************/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding: 10px;
  font-size: 16px;
}

#copyRight {
  text-align: center;
}

.linkedin {
  width: 35px;
  margin: 20px 0;
  transition: 0.3s;
}

.linkedin:hover {
  background-color: #84a59d;
}

@media screen and (min-width: 760px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  footer #copyRight {
    grid-column: 2/3;
  }
  footer .linkedin {
    grid-column: 3/4;
    margin: 0;
    margin-left: 200px;
    width: 30px;
  }
}
.progressBar div {
  display: block;
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #b8b8b8;
  margin-top: 1%;
}

.pyBar,
.cPPBar,
.htmlBar,
.cssBar,
.jsBar,
.sqlBar {
  height: 30px;
  background-color: #f5cac3;
}

.pyBar {
  width: 1%;
}
.pyBar:before {
  text-align: center;
  content: "60%";
  position: absolute;
  width: 1%;
  height: 30px;
  background-color: #f5cac3;
  animation: load60Bar 6s forwards;
}

.cPPBar {
  width: 1%;
}
.cPPBar:before {
  text-align: center;
  content: "70%";
  position: absolute;
  width: 1%;
  height: 30px;
  background-color: #f5cac3;
  animation: load70Bar 6s forwards;
}

.cSharpBar {
  width: 1%;
}
.cSharpBar:before {
  text-align: center;
  content: "50%";
  position: absolute;
  width: 1%;
  height: 30px;
  background-color: #f5cac3;
  animation: load50Bar 6s forwards;
}

.htmlBar {
  width: 1%;
}
.htmlBar:before {
  text-align: center;
  content: "70%";
  position: absolute;
  width: 1%;
  height: 30px;
  background-color: #f5cac3;
  animation: load70Bar 6s forwards;
}

.cssBar {
  width: 1%;
}
.cssBar:before {
  text-align: center;
  content: "70%";
  position: absolute;
  width: 1%;
  height: 30px;
  background-color: #f5cac3;
  animation: load70Bar 6s forwards;
}

.jsBar {
  width: 1%;
}
.jsBar:before {
  text-align: center;
  content: "60%";
  position: absolute;
  width: 1%;
  height: 30px;
  background-color: #f5cac3;
  animation: load60Bar 6s forwards;
}

.sqlBar {
  width: 1%;
}
.sqlBar:before {
  text-align: center;
  content: "50%";
  position: absolute;
  width: 1%;
  height: 30px;
  background-color: #f5cac3;
  animation: load50Bar 6s forwards;
}

@keyframes load70Bar {
  0% {
    width: 1%;
  }
  60% {
    width: 1%;
  }
  100% {
    width: 70%;
  }
}
@keyframes load60Bar {
  0% {
    width: 1%;
  }
  60% {
    width: 1%;
  }
  100% {
    width: 60%;
  }
}
@keyframes load50Bar {
  0% {
    width: 1%;
  }
  60% {
    width: 1%;
  }
  100% {
    width: 50%;
  }
}
/**************************************THANK YOU AND 404 PAGES*****************************/
#errorSection, #thanksSection {
  background-color: #f95855;
  text-align: center;
  padding: 30px;
}

#errorBox, #thanksBox {
  max-width: 1200px;
  margin: 1rem auto;
  text-align: center;
  padding: 20px;
  background-color: #f95855;
}

/************************************************************CONTACT PAGE***********************************************************/

/*# sourceMappingURL=main.css.map */
