@use "theme" as t;
/************************************************************CONTACT PAGE***********************************************************/
#contactArea{
    background-color: t.$accent-two;
}

#contactGrid{
    margin:1rem auto;
    max-width: 1400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:10px;
    padding:20px;
}

#contactInfo #contactIcons{
    display:flex;
    flex-direction: column;
    padding:10px;
    align-items: center;
    .iconBox{
        padding:10px;
        margin: 10px;
    }
}

.logo{
    width:60px; 
    border-radius: 100%;
    transition:0.3s;

    &:hover{
        background-color: t.$hover-color;
    }
}

#email{
    text-align: center;
}


/**************************************************Tablet View******************************************/
@media screen and (min-width: 760px) {
        /*******************************************COMTACT PAGE**********************************/
        #contactInfo #contactIcons{
            flex-direction: row;
            justify-content: space-evenly;
            
            
        }

        .logo{
            width:70px;
        }


}


/**************************************************LapTop View******************************************/
@media screen and (min-width: 1160px) {


    /*******************************************CONTACT PAGE**********************************/
    #contactGrid{
        grid-template-columns: 1fr 1fr;
    }

    #submit{
        margin-left:175px;
    }

    // #contactInfo #contactIcons{
    //     flex-direction: row;
    //     justify-content: space-evenly;
        
    // }




}