@use "theme" as t;
/************************************************************PROJECT PAGE***********************************************************/
#projectSelectionBox
{
    text-align: center;
    margin-bottom: 50px;
}

select{
    padding:10px;
    width: 50%;
    text-align: center;
}

#displayProjectBox{
    padding:5px;
}

#projectPage{
    background-color: #B8B8B8;
    max-width: 1500px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 25px;


}

#projectOverview
{
    background-color: #B8B8B8;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    padding:20px;
}

.projectContent
{
    text-align: left;
}

#projectBoxOne, #projectBoxTwo, #GitHubBanner
{
    display:grid;
    grid-template-columns: 1fr;
    padding:20px;
    align-items: center;
}



#GitHubBanner
{
    border-radius: 0px 0px 15px 15px;
    justify-items: center;
    padding:20px;
}


.layoutStyleOne
{
    background-color: t.$primary-color;
}

.layoutStyleTwo
{
    background-color: t.$accent-two;
}


#layoutOneContentOne, #layoutOneContentTwo{
    padding:30px;

}

#projectOnePhotoOneImg, #projectOnePhotoTwoImg, #projectTwoPhotoOneImg, #projectTwoPhotoTwoImg{
    width:250px;
    padding:10px;
    justify-self: center;
}

#GitHubBtn{
    text-decoration: none;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:10px;
    // text-align: center;
    // justify-self: center;
    // align-self: center;
    border: 2px solid black;
    color:black;
    font-size: 18px;
    border-radius: 15px;
    padding:10px;
    background-color: #B8B8B8;
    // color:black;
    width:40%;
    height: 70%;
    // transition:0.3s;

    svg {
        width: 25px;
        animation: turning-star 8s linear infinite;
      }

}

#GitHubBtn:hover{
    background-color: #E8Eff1;
    color:black;
}



  @keyframes turning-star{
    0%{transform: rotate(0deg);}
    20%{transform: rotate(72deg);}
    40%{transform: rotate(144deg);}
    60%{transform: rotate(216deg);}
    80%{transform: rotate(288deg);}
    100%{transform: rotate(360deg);}
  }


/**************************************************Tablet View******************************************/
@media screen and (min-width: 760px) {

            /************************************************************PROJECT PAGE***********************************************************/
    select{
        width: 35%;
    }
    
    #GitHubBtn{
       flex-direction: row;
       height: 40%;
       width:20%;
    }

    #projectOnePhotoOneImg, #projectOnePhotoTwoImg, #projectTwoPhotoOneImg, #projectTwoPhotoTwoImg{
        width:350px;
    }

}


/**************************************************LapTop View******************************************/
@media screen and (min-width: 1160px) {


    /************************************************************PROJECT PAGE***********************************************************/
    select{
        width: 30%;
    }

    #projectBoxOne, #projectBoxTwo, #GitHubBanner
    {
        grid-template-columns: 1fr 1fr;
        
    }

    #projectOnePhotoOneImg
    {
        grid-column: 2/3;
        grid-row:1/2;
    }


    #projectOnePhotoTwoImg
    {
        grid-column: 1/2;
        grid-row:1/2;
    }

    #layoutOneContentTwo
    {
        grid-column: 2/3;
        grid-row:1/2;
    }

    #projectOnePhotoOneImg, #projectOnePhotoTwoImg, #projectTwoPhotoOneImg, #projectTwoPhotoTwoImg{
        width:500px;
        padding:10px;
        justify-self: center;
    }

    #projectTwoPhotoOneImg
    {
        grid-column: 1/2;
        grid-row:1/2;
    }


    #layoutTwoContentOne
    {
        grid-column: 2/3;
        grid-row:1/2;
    }

    #projectTwoPhotoTwoImg
    {
        grid-column: 2/3;
        grid-row:1/2;
    }


    #layoutTwoContentTwo
    {
        grid-column: 1/2;
        grid-row:1/2;
    }

    #GitHubBtn{
        height: 40%;
        width:22%;
     }

}